<ion-view class="chatroom-title" view-title="{{title}}">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="moreMessages()">
    </ion-refresher>
    
      <div ng-repeat-start="chat in chats"></div>
        <div class="chatroom-messages">
          <a  href="#/tab/profile/{{chat._user._id}}"><img ng-cache ng-src="{{chat._user.profile_photo}}" class="{{chat.from_me}}"/></a>
          <div class="chat {{chat.from_me}}" data-id="{{chat._id}}">
            {{ chat.message }}
          </div>
          <div  class="clearfix"></div>
        </div>
      <div ng-repeat-end></div>
  </ion-content>
  <!---<div id="chatArea">
    <input type="text" ng-model="message" />
    <button class="button button-balanced" ng-click="send()">
      Send
    </button>
  </div>-->
  <div id="chatArea" class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" ng-model="message">
    </label>
    <button ng-click="send()" class="button button-clear button-positive" ng-show="message">
      Send
    </button>
  </div>
</ion-view>
