<ion-view view-title="Account">
  <ion-content class="padding">
    <div class="edit-profile-photo">
      <a ng-click="addPhoto()">
        <img ng-src="{{MyAccount.profile_photo}}"/>
      </a>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-card placeholder-icon"></i>
        <input type="text" placeholder="Name" ng-blur="updateInfo('fullname')" ng-model="MyAccount.fullname">
      </label>
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Username" ng-blur="updateInfo('username')" ng-model="MyAccount.username">
      </label>
      <label class="item item-input">
        <i class="icon ion-earth placeholder-icon"></i>
        <input type="text" placeholder="Website" ng-blur="updateInfo('website')" ng-model="MyAccount.website">
      </label>
      <label class="item item-input">
        <i class="icon ion-information-circled placeholder-icon"></i>
        <input type="text" placeholder="Bio" ng-blur="updateInfo('bio')" ng-model="MyAccount.bio">
      </label>
    </div>
    <button class="button button-small button-block button-assertive"><i class="icon ion-locked placeholder-icon"></i>Change Password</button>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="text" placeholder="Email" ng-blur="updateInfo('email')" ng-model="MyAccount.email">
      </label>
      <label class="item item-input">
        <i class="icon ion-calendar placeholder-icon"></i>
        <input type="text" placeholder="Birthdate" ng-blur="updateInfo('birthdate')" ng-model="MyAccount.birthdate">
      </label>
      <label class="item item-input">
        <i class="icon ion-iphone placeholder-icon"></i>
        <input type="text" placeholder="Phone" ng-blur="updateInfo('phone')" ng-model="MyAccount.phone">
      </label>
      <label class="item item-input item-select">
        <i class="icon ion-male placeholder-icon"></i>
        <div class="input-label" style="color: #aaa; font-size: 14px;">
          Gender
        </div>
        <select style="padding: 9px 48px 6px 16px;" ng-blur="updateInfo('gender')" ng-model="MyAccount.gender">
          <option selected value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
