.clearfix{
    clear: both;
}
ion-view.chatroom-title ion-content {
    margin-bottom: 50px;
    padding: 0 10px;
}

div#chatArea {
    position: fixed;
    bottom: 50px;
    width: 100%;
    z-index: 999;
    padding: 0;
}

#chatArea button{
    font-weight: bold;
}

#chatArea input[type="text"] {
    background: white;
    height: 47px;
    padding: 0;
}

#chatArea .item-input-wrapper {
    background: white;
}

/*
div#chatArea input[type="text"] {
    float: left;
    position: relative;
    width: 82%;
    border: 1px solid #ddd;
    padding-left: 5px;
}

#chatArea button {
    width: 18%;
    float: left;
    position: relative;
    line-height: 32px;
    min-height: 0;
    padding: 0 4px;
}
*/
/*.chat {
    position: relative;
    margin: 5px 0 10px;
    vertical-align: middle;
    text-align: center;
}

.chat img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.chat .ng-binding {
    background: #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
    width: 190px;
    vertical-align: middle;
}

.chat .author {
    float: right;
    color: #555;
    bottom: 0;
    position: absolute;
    right: 0;
}

.chat.me img {
}

.chat.me .ng-binding {
    background: #5c5;
    color: white;
}*/
.chatroom-messages {
    position: relative;
    min-height: 60px;
    margin: 5px 0;
}
.chat {
    margin-top: 3px;  padding: 3px 5px 3px 5px;  max-width: 80%;    
    float: left;  margin-right: auto;
    margin-left: 65px;  border-radius: 5px 5px 5px 0px;   -webkit-border-radius: 5px 5px 5px 0px;  -moz-border-radius: 5px 5px 5px 0px;  -o-border-radius: 5px 5px 5px 0px;  -ms-border-radius: 5px 5px 5px 0px;
    margin-bottom: 20px;
    background: #ddd;
}

.chat.me {
    float: right;  margin-left: auto;  text-align: right;  
    border-radius: 5px 5px 0px 5px;   
    -webkit-border-radius: 5px 5px 0px 5px;  
    margin-right: 65px;
    -moz-border-radius: 5px 5px 0px 5px;  
    -o-border-radius: 5px 5px 0px 5px;  
    -ms-border-radius: 5px 5px 0px 5px;
    background: #6d6;
    color: white;
}
.chatroom-messages img {
    float: left;
    width: 60px;
    height: 60px;
    clear: right;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}
.chatroom-messages img.me {
    float: right;
    clear: left;
    right: 0;
}

div#account_basic_profile{
    width: 65%;
    float: left;
}
div#account_profile_photo {
    width: 25%;
    float: right;
    margin-top: 26px;
}

div#account_profile_photo img {
    width: 60px;
}

.edit-profile-photo img {
    width: 160px;
}

.edit-profile-photo {
    text-align: center;
}